/* hide sharepoints */
#spSiteHeader {
    display: none;
}

#visibleContent {
    display: none;
}

.root-42 {
    display: none;
}

/* .root-163{
    display: none;
} */

/* #spCommandBar{
    display: none;
} */

.el_q_ada2ac09 {
    display: none;
}

/* 
.webPartContainer{
    display: none;
} */

.headerRow-45 {
    display: none;
}

.headerRow-77 {
    display: none;
}

.i_a_beed2cf1 {
    position: relative;
    z-index: 7;
    display: none;
}

.acceuilbtn {
    background-color: #f54630;
    color: #fff;
    padding: 15px 5px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    border: none;
}

.acceuilbtn:focus {
    background-color: #f54630;
}

.menubtn {
    background-color: #004a8b;
    color: #fff;
    padding: 15px 5px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    border: none;
}

.search {
    background-color: #004a8b;
    color: #fff;
    padding: 15px 5px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    border: none;
}

.menubtn:focus {
    background-color: #f54630;
}

.menubtn:hover {
    background-color: #0064bc;
}

.dropbtn {
    background-color: #004a8b;
    color: #fff;
    padding: 15px 5px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    border: none;
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffb438;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #004a8e;
    z-index: 47;
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #00b0e6;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0064bc;
}

.dropbtn {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
}

h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.w95,
.w100 {
    position: relative;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.flex-basic,
.flex-basic-n {
    display: flex;
}

.flex-basic {
    flex-wrap: wrap;
}

.cnt-95 {
    max-width: 95%;
    margin: 0 auto;
}

.inner-top-header {
    padding: 15px;

}

.inner-top-header .right-header a:hover .icn:before {
    background: #00B0EA;
}

.link-header {
    background: #004a8e;
    padding: 0px !important;
}

.link-header li {
    margin: 0 19px !important;
    position: relative;
}

.link-header li:first-child {
    margin-left: 0;
}

.link-header li:last-child {
    margin-right: 0;
}

.link-header a {
    color: white;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 18px;
}

.link-header .text {
    margin-left: 15px;
    color: white;
    font-size: 14px;
}

.flex-justify-center {
    justify-content: center;
}

li,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

[class^="simpleFooterContainer-"] {
    display: none;
}

.od-ItemsScopeList-page .od-ItemsScopeList-content-sticky .od-ItemContent-header {
    padding-bottom: 0.25rem;
    height: 70px;
    position: sticky;
    z-index: 1;
    top: 0;
    will-change: transform;
}

.od-ItemContent-title {
    font-size: 28px;
    font-weight: 100;
    font-size: 20px;
    font-weight: 600;
    margin-top: 14px;
    padding-bottom: 25px;
}

.od-ItemContent-list {
    box-sizing: border-box;
    min-width: 100%;
    flex-grow: 1;
    padding: 0rem;
    margin-right: auto;
    background-clip: content-box;
    display: flex;
    flex-direction: column;
}

.Search-text {
    width: 100%;
    position: relative;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
}

.search-input {
    width: 100%;
    font-size: 14px;
    padding: 0px 45px 0px 9px;
    background-color: #eaeaeb;
    color: #6c6c6c;
    border-radius: 6px;
    border: none;
    transition: all .4s;
}

.search-input:focus {
    border: none;
    outline: none;
    box-shadow: 0 1px 12px #b8c6db;
    -moz-box-shadow: 0 1px 12px #b8c6db;
    -webkit-box-shadow: 0 1px 12px #b8c6db;
}

.search-btn {
    background-color: transparent;
    font-size: 14px;
    padding: 6px 9px;
    margin-left: -45px;
    border: none;
    color: #6c6c6c;
    transition: all .4s;
    z-index: 10;
}


#O365_SearchBoxContainer_container{
    display: none !important;
}