/* hide sharepoints */
#spSiteHeader{
    display: none;
}

#visibleContent{
    display:none ;
}

.root-42{
    display: none;
}

/* .root-163{
    display: none;
} */

/* #spCommandBar{
    display: none;
} */

.el_q_ada2ac09 {
    display: none;
}
/* 
.webPartContainer{
    display: none;
} */

.headerRow-45 {
    display: none;
}

.headerRow-77 {
    display: none;
}

.i_a_beed2cf1 {
    position: relative;
    z-index: 7;
    display: none;
}

.dropbtn {
    background-color: #004a8e;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #d8d8d8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #004a8e;
    z-index: 47;
  }
  
  .dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #afafaf;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #004689;}